<div class="filter-container">
  <label for="category-select">Filtrar por categoría:</label>
  <select id="category-select" (change)="onCategoryChange($event)">
    <option value="">Todas las categorías</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
</div>

<div class="card-container" *ngFor="let review of paginatedReviews">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ review.titulo }}</mat-card-title>
      <mat-card-subtitle>
        <app-star-rating [rating]="review.estrellas" [readOnly]="true"></app-star-rating>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ review.descripcion }}</p>
      <p>Categoría: {{ review.categoria }}</p>
    </mat-card-content>
  </mat-card>
</div>



  
  
  
  




