<div class="filter-container">
  <app-filter 
    [options]="categories" 
    (filterChange)="onCategoryChange($event)" 
    placeholder="Categorías">
  </app-filter>
  <app-filter 
    [options]="['1', '2', '3', '4', '5']" 
    (filterChange)="onRatingChange($event)" 
    placeholder="Calificación">
  </app-filter>
</div>

<div class="card-container">
  <mat-card *ngFor="let review of paginatedReviews" (click)="openReviewDialog(review)">
    <mat-card-content>
      <mat-card-title>{{ review.titulo }}</mat-card-title>
      <div class="card-footer">
        <p class="category">Categoría: {{ review.categoria }}</p>
        <app-star-rating class="star-rating" [rating]="review.estrellas" [readOnly]="true"></app-star-rating>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<app-paginator
  [currentPage]="currentPage"
  [totalItems]="reviews.length"
  [itemsPerPage]="itemsPerPage"
  (pageChange)="onPageChange($event)">
</app-paginator>










  
  
  
  




