.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px; /* Espacio entre los filtros */
}

.filter-container label {
  margin-right: 10px; /* Espacio entre la etiqueta y el campo de selección */
}

.card-container {
  display: flex;
  flex-direction: column; /* Cambiar la dirección de los elementos a columna */
  align-items: center; /* Centrar las tarjetas horizontalmente */
  max-width: 1000px; /* Puedes ajustar este valor según sea necesario */
  margin: 0 auto;
  margin-bottom: 20px;
}

mat-card {
  width: 100%; /* Asegura que las tarjetas ocupen el ancho completo del contenedor */
  max-width: 800px; /* Ajusta el ancho máximo de las tarjetas si es necesario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px 0; /* Añade margen superior e inferior para espaciado vertical */
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 15px; /* Añade un poco de padding para aumentar el espacio interno */
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.category {
  font-size: 14px;
  color: #555;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-rating mat-icon {
  font-size: 18px; /* Ajusta el tamaño de las estrellas aquí */
  color: #d3d3d3;
}

.star-rating mat-icon.filled {
  color: #ffd700;
}





  


  