@import '../../../../styles.css';

.footer-container {
  width: 100%;
  box-sizing: border-box;
  background: var(--color-principal);
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}