.search-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -21px;
}

input {
    flex: 1;
    padding: 17px 40px 16.5px 10px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    font-size: 18px;
    transition: border-color 0.3s ease;
    outline: none;
    box-sizing: border-box;
}

input:hover,
input:focus {
    border-color: black;
}

.search-button {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: -40px;
}

@media (max-width: 769px) {
    input {
        width: calc(100% - 50px);
        margin-top: -1px;
    }

    .search-button {
        right: 10px;
    }
}
