.search-container {
    position: relative;
    width: 60%;
}

input {
    width: 80%;
    padding: 17.5px 40px 15px 10px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    font-size: 18px; 
    margin-top: -23px;
    transition: border-color 0.3s ease;
    outline: none;
}

input:hover,
input:focus {
    border: 1px solid black;
}

.search-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 0;
    right: -40px;
    margin-top: -7px;
}

@media (min-width: 769px) {
    .search-button{
        margin-right: 15%;
    }
}
