/* Estilo para el contenedor del componente */
:host {
    position: relative; /* Posicionamiento relativo para el contenedor */
    width: 100%;
    height: 100vh; /* Ajusta esto según el contenedor */
  }
  
  /* Estilo para el botón */
  button {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    top: 20px; /* Ajusta según tu diseño */
    right: 20px; /* Ajusta según tu diseño */
  }
  
  button:hover {
    background-color: #45a049; /* Color de fondo más oscuro en hover */
  }
  
  button:active {
    transform: scale(0.98); /* Efecto de clic */
  }
  
  