html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-container {
    flex: 1;
}

.sidebar {
    background-color: #673ab7;
}

.text {
    color: white;
    text-decoration: none;
}

.centered-text {
    width: 100%;
    text-align: center;
}

.big-icon {
    font-size: 40px;
}

/* Ajustes adicionales para dispositivos móviles */
@media (max-width: 768px) {
    .footer-container {
        padding: 5px;
    }
}