@import '../styles.css';

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-container {
    flex: 1;
}

.text {
    color: white;
    text-decoration: none;
}

.centered-text {
    width: 100%;
    text-align: center;
}

.big-icon {
    font-size: 40px;
}

.toolbar {
    background-color: var(--color-principal) !important;
    color:white
}

.sidebar{
    background-color: var(--color-principal) !important;
    color:white
}

.material-icons.margin{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    align-items: center;
}

.material-icons.bigicon{
    font-size: 37px;
}

a {
    color: white;
    text-decoration: none;
}


/* Ajustes adicionales para dispositivos móviles */
@media (max-width: 768px) {
    .footer-container {
        padding: 5px;
    }
}


.floating-cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
