<div class="title-cards">
  <p>Listado de pedidos</p>
  <button class="botonAgregar" mat-raised-button color="primary" (click)="openAddPedidoDialog()">Agregar Pedido</button>
</div>

<div>
  <input type="text" placeholder="Buscar por cliente..." [(ngModel)]="searchTerm" (input)="onSearch(searchTerm)">
</div>

<div *ngFor="let pedido of filteredPedidos" class="pedido-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ pedido.cliente }}</mat-card-title>
      <mat-card-subtitle>{{ pedido.estado }}</mat-card-subtitle>
      <button mat-icon-button color="warn" (click)="onPedidoDeleted(pedido._id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openEditPedidoDialog(pedido)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p>Productos:</p>
      <ul>
        <li *ngFor="let producto of pedido.productos">{{ producto.nombre }} - {{ producto.cantidad }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<app-paginator [totalItems]="totalFilteredItems" [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)"></app-paginator>
