.title-cards {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 3rem;
}

.search-and-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    margin-top: 1rem;
}

.buscador {
    flex-grow: 1;
    margin-left: 20rem; /* Estilo por defecto (móvil) */
}

.botonAgregar {
    margin-left: 1rem; /* Estilo por defecto (móvil) */
}

.botonGuardar {
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 5%;
}

/* Estilos específicos para escritorio */
@media (min-width: 769px) {
    .search-and-add-container {
        padding: 0 12rem;
        justify-content: center;
    }

    .buscador {
        margin-left: 16%; 
    }

    .botonAgregar {
        margin-right: 16%; 
    }
}

/* Estilos específicos para móvil */
@media (max-width: 768px) {
    .search-and-add-container {
        justify-content: center;
        flex-wrap: nowrap; 
    }

    .buscador, .botonAgregar {
        width: auto; 
        margin: 0.5rem; 
    }
}
