#miCuadroEditarUsuario {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

mat-error {
    font-size: 14px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -10px;
}

.botonesGuardarCancelar {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 7px;
    padding-bottom: 13px;
}

.mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: auto;
}

.mat-dialog-content {
    width: 100%;
    max-width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #miCuadroEditarUsuario {
        width: 100%;
    }

    mat-form-field {
        font-size: 14px;
    }

    .mat-dialog-title {
        font-size: 18px;
    }
}