<div id="miCuadroProd">
    <div class="title-cards">
        <p>Menu</p>
    </div>
    <button [ngClass]="{ 'hidden-button': !isAdmin() }" mat-button class="botonAgregar" (click)="openAddProductoDialog()">
        <span class="material-icons">add</span>
    </button>
    <button mat-button class="botonAgregar" (click)="navigateToAddReview()">
        Crear Reseña
    </button>
    <div class="card-container">
        <app-productos-cards 
            [productos]="filteredProductos"
            [currentPage]="currentPage"
            (productoEdited)="onProductoEdited($event)"
            (productoDeleted)="onIngredientDeleted($event)"
            (pageChange)="onPageChange($event)">
        </app-productos-cards>
    </div>
    <app-call-waiter></app-call-waiter> 
</div>


