<br />

<div class="card-container" *ngFor="let user of users">
    <div class="cards-buttons">
        <button mat-icon-button (click)="openEditUserDialog(user)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openDeleteUserDialog(user)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ user.username }}</mat-card-title>
            <mat-card-subtitle>{{ getUserRoles(user) }}</mat-card-subtitle>
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
</div>