.card-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.disponibilidad-toggle {
    position: absolute;
    top: 30px;
    right: 10px;
}

mat-card {
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

mat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.ingrediente-img {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.cards-buttons button {
    transition: box-shadow 0.3s, background-color 0.3s;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
