.title-cards {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 3rem;
}

.botonAgregar {
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 3%;
}

.botonGuardar {
    margin-top: 15px;
    margin-left: 5%;
}