.title-cards {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 3rem;
}

.search-and-add-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.buscador {
    flex-grow: 1;
    margin-left: 20rem; 
}

.botonAgregar {
    margin-left: 1rem; 
}

.botonGuardar {
    margin-top: 15px;
    margin-left: 5%;
}

/* Estilos específicos para escritorio */
@media (min-width: 769px) {
    .search-and-add-container {
        padding: 0 12rem; 
        justify-content: center;
    }

    .buscador {
        margin-left: 16%; 
    }

    .botonAgregar {
        margin-right: 16%; 
    }
}

/* Estilos específicos para móvil */
@media (max-width: 768px) {
    .search-and-add-container {
        justify-content: center;
        padding: 0 1rem; 
    }

    .buscador, .botonAgregar {
        margin: 0.5rem;
    }
}
