@import '../../../../styles.css';

.title-cards {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 3rem;
}

.buscadorFiltroAdd {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 4px;
    margin-right: 4px;
    align-items: center;
    justify-content: space-between;
}

.botonAgregar {
    background-color: var(--color-boton) !important;
    color: white !important; 
    height: 55px;
    margin-bottom: 22px;
    margin-left: -10px;
}

/* Estilos específicos para escritorio */
@media (min-width: 769px) {
    .buscadorFiltroAdd {
        margin-left: 16%;
        margin-right: 16%;
    }

    .buscador {
        margin-left: 15%;
    }

    .botonAgregar {
        margin-right: 15%;
    }
}
