#miCuadroAgregar {
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.botonCancelAceptar {
    display: flex;
    justify-content: flex-end;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}