<div class="cart-container">
  <h2>Carrito de Compra</h2>
  <div *ngFor="let product of cart; let i = index" class="product-cart">
    <mat-card class="product-card">
      <mat-card-content>
        <div class="product-image-container">
          <img [src]="product.img" alt="Product Image" class="product-image" />
        </div>
        <div class="product-details">
          <p>{{ product.nombre }}</p>
          <p>{{ product.cantidad }}</p>
        </div>
        <div class="quantity-controls">
          <button mat-icon-button (click)="updateQuantity(product.productoId, product.cantidad - 1)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button (click)="updateQuantity(product.productoId, product.cantidad + 1)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removeItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="cart.length === 0" class="empty-cart">No hay productos en el carrito</div>
  <div class="cart-buttons">
    <button mat-raised-button color="primary" (click)="goToMenu()">Seguir comprando</button>
    <button mat-raised-button color="accent" (click)="goToPayment()">Proceder al pago</button>
  </div>
</div>