<div class="pago-container">
  <h1>Confirmar Pedido</h1>
  <mat-card class="payment-card">
    <mat-card-content>
      <div class="order-details">
        <h3>Detalles del Pedido</h3>
        <ul>
          <li *ngFor="let product of cart">{{ product.nombre }} - {{ product.cantidad }}</li>
        </ul>
        <p>Total: {{ total | currency }}</p>
      </div>
      <div class="payment-method">
        <mat-form-field appearance="fill">
          <mat-label>Método de Pago</mat-label>
          <mat-select [(ngModel)]="metodoPago">
            <mat-option value="Efectivo">Efectivo</mat-option>
            <mat-option value="Tarjeta">Tarjeta</mat-option>
            <mat-option value="Transferencia">Transferencia</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Propina</p>
      <div class="tip-selection">
        <button mat-raised-button (click)="setTip(0)">No dar propina</button>
        <button mat-raised-button (click)="setTip(10)">10%</button>
        <button mat-raised-button (click)="setTip(15)">15%</button>
        <button mat-raised-button (click)="setTip(20)">20%</button>
      </div>
      <div class="cart-buttons">
        <button mat-raised-button color="primary" (click)="goBackToCart()">Volver al carrito</button>
        <button mat-raised-button color="accent" (click)="confirmPayment()">Confirmar y Pagar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
