mat-form-field {
    display: block;
    margin-bottom: 16px;
    width: 100%;
}

.dialog-auto-size {
    max-height: none !important;
    overflow: auto !important;
}

img {
    display: block;
    margin: 16px 0;
}

.botonesAgregar {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    bottom: 0;
}