:root{
    --color-principal: #e02525;
    --color-boton: #b22222;
    --color-boton-claro: #fb4c4c;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }