.tittle-cards{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 3rem;
}
.disponible-icon {
    color: green;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.nodisponible-icon{
    color: red;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.mat-card{
    margin-left: 5px;
}