<div class="tittle-cards">
  <p>Listado de ingredientes de The Kindoms of Panes</p>
</div>

<div class="card-container" *ngFor="let ingrediente of ingredientes">
  
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="ingrediente-img" [style.background-image]="'url(' + ingrediente.img + ')'"></div>
    <mat-card-title>{{ ingrediente.nombre }}</mat-card-title>
    <mat-card-subtitle>Disponibilidad: {{ ingrediente.disponible }}</mat-card-subtitle>
  </mat-card-header>

</mat-card>
</div>
