<div class="card-container" *ngFor="let producto of paginatedProductos">
    <div class="cards-buttons">
      <button id="delete" mat-icon-button color="warn" (click)="openDeleteDialog(producto)" class="delete-cart-button">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="addToCart(producto)" class="add-cart-button">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
    <mat-card class="producto-card">
      <mat-card-header>
        <div class="header-content">
          <mat-card-title>{{ producto.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ producto.precio | currency }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img mat-card-image class="product-image" [src]="getImageUrl(producto.img)" alt="Imagen del producto">
      <mat-card-content>
        <br>
        <p>{{ producto.descripcion }}</p>
        <p>{{ producto.categoria }}</p>
        <p>
          <ng-container *ngFor="let ingrediente of producto.ingredientes">
            {{ ingrediente.nombre }}<span *ngIf="!isLast(ingrediente, producto.ingredientes)">, </span>
          </ng-container>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  