<div class="card-container" *ngFor="let productos of paginatedProductos">
    <div class="cards-buttons">
        <!-- <button id="edit" mat-icon-button (click)="openEditProductosDialog(productos)">
            <mat-icon>edit</mat-icon>
        </button> -->
        <!-- <button id="delete" mat-icon-button color="warn" (click)="openDeleteProductosDialog(productos)">
            <mat-icon>delete</mat-icon>
        </button> -->
    </div>
    <mat-card>
    <mat-card-header>
        <div mat-card-avatar class="producto-img" [style.background-image]="getBackgroundImage(productos.img)">
        </div>
            <mat-card-title>{{ productos.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ productos.precio | currency }}</mat-card-subtitle>
            <mat-card-subtitle>{{ productos.descripcion }}</mat-card-subtitle>
            <mat-card-subtitle>{{ productos.categoria }}</mat-card-subtitle>
            <mat-card-subtitle>
                <ng-container *ngFor="let ingrediente of productos.ingredientes">
                    {{ ingrediente.nombre }}<span *ngIf="!isLast(ingrediente, productos.ingredientes)">, </span>
                </ng-container>
            </mat-card-subtitle> 
        </mat-card-header>
    </mat-card>
</div>
