@import "../../../../styles.css";

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
    position: relative;
    flex-direction: row-reverse;
}

.cards-buttons {
    display: flex;
    margin-top: 315px;
    margin-left: -3.5rem;
    z-index: 1;
}

.producto-card {
    width: 300px;
    height: 370px;
    margin: 8px;
    position: relative;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

mat-card-title.mat-mdc-card-title {
    margin-top: -8px;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
    display: block;
    margin-bottom: 5px;
}

.add-cart-button {
    margin-top: 8px;
    margin-left: -55px;
    background-color: var(--color-principal);
    color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart-button:hover {
    background-color: var(--color-boton);
}

.delete-cart-button {
    margin-top: -50px;
}