<h1 mat-dialog-title>Agregar Usuario</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput [(ngModel)]="newUser.username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="newUser.email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="newUser.password" type="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="selectedRole">
            <mat-option *ngFor="let role of availableRoles" [value]="role">{{ role }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="onSaveClick()">Guardar</button>
</div>