<div id="miCuadroAgregar">
    <h2 mat-dialog-title>Agregar Producto</h2>
    <div mat-dialog-content class="content">
        <form [formGroup]="productoForm">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
                <mat-error *ngIf="productoForm.get('nombre')?.invalid">{{ getErrorMessage('nombre') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input matInput formControlName="precio" type="number">
                <mat-error *ngIf="productoForm.get('precio')?.invalid">{{ getErrorMessage('precio') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
                <mat-error *ngIf="productoForm.get('descripcion')?.invalid">{{ getErrorMessage('descripcion') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <input matInput formControlName="categoria">
                <mat-error *ngIf="productoForm.get('categoria')?.invalid">{{ getErrorMessage('categoria') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ingredientes</mat-label>
                <mat-select formControlName="ingredientes" multiple>
                    <mat-option *ngFor="let ingrediente of ingredientesList" [value]="ingrediente._id">
                        {{ ingrediente.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="productoForm.get('ingredientes')?.invalid">{{ getErrorMessage('ingredientes') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Imagen</mat-label>
                <input matInput formControlName="img">
                <button class="select-file-button" mat-button matSuffix (click)="fileInput.click()">Seleccionar Archivo</button>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" style="display:none;">
            </mat-form-field>
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Imagen del producto" class="image-preview">
        </form>
    </div>
    <div mat-dialog-actions class="botonCancelAceptar">
        <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
        <button mat-button (click)="addProducto()">Agregar</button>
    </div>
</div>